@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- About Section -->
<section class="about">
    <div class="flex-container" style="justify-content: space-between;">
        <div class="about-item">
            <div style="text-align: center;">
                <img src="~/images/prajay.jpeg" alt="Prajay Reddy Minuka" style="width: auto; height: 400px; display: block; margin: 0 auto;">
                <div>
                    <br>
                    <h2>Prajay Reddy Minuka</h2>
                    <p style="text-align: justify;">Prajay is a graduate student at the University of South Florida, focusing on business analytics and information systems. Prior to his studies, he gained practical experience as an analytics specialist during his two-year tenure at Deloitte. His time at Deloitte provided him with a solid foundation in analytics, which he now seeks to enhance through academic study. Prajay worked on the javascript part of this website</p>
                </div>
            </div>
        </div>
        <div class="about-item">
            <div style="text-align: center;">
                <img src="~/images/sanjana.jpeg" alt="Sanjana Anumula" style="width: auto; height: 400px; display: block; margin: 0 auto;">
                <div>
                    <br>
                    <h2>Sanjana Anumula</h2>
                    <p>Sanjana is a graduate student at the University of South Florida, focusing on business analytics and information systems. Sanjana worked on the styling part of this website</p>
                </div>
            </div>
        </div>
    </div>
</section>

  <div class="flex-container" style="justify-content: space-between;">
    <div class="about-item">
      <div style="text-align: center;">
        <img src="./images/Prajay Git Log.png" alt="Prajay Reddy Minuka" style="width: auto; height: 400px; display: block; margin: 0 auto;">
        <div>
        </div>
      </div>
    </div>
    <div class="about-item">
      <div style="text-align: center;">
        <img src="./images/Sanjan Git Log.png" alt="Sanjana Anumula" style="width: auto; height: auto; max-width: 100%; display: block; margin: 0 auto;">
        <div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>



<div class="about-item" style="text-align: center;">
    <h2>Data Model</h2>
    <img src="~/images/ERD.png" alt="Your New Image" style="display: block; margin: auto; max-width: 100%; height: auto;">
    <br>
    <a href="https://github.com/mprajay999/Bulls-Bistro.git" target="_blank"> <h2>GitHub Repository</h2></a>
    <br>
    <br>
</div>
