@{
    ViewData["Title"] = "Hours";
}


<!-- Main content -->
<main>
    <section id="map" class="map-section">
        <div class="map-container">
            <h2>Find Us At</h2>
            <div class="responsive-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.887379861895!2d-82.41168432447567!3d28.058463109917874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c7c76c083cf1%3A0x5b9f6aef2f2f7c0b!2sMuma%20College%20of%20Business!5e0!3m2!1sen!2sus!4v1713423224384!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Timing details -->
        <div class="timing-details">
            <h2>Opening Timings</h2>
            <ul>
                <li><strong>Monday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Tuesday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Wednesday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Thursday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Friday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Saturday:</strong> 9:00 A.M - 10:00 P.M</li>
                <li><strong>Sunday:</strong> 9:00 A.M - 10:00 P.M</li>
            </ul>
        </div>


    </section>

    <div class="charts-container">
        <div class="chart-container">
            <div class="chart-heading" style="text-align: center;">
                <h2>Average Number of Visitors Each Day</h2>
            </div>
            <canvas id="AverageVisitorsChart"></canvas>
        </div>

        <div class="chart-container">
            <div class="chart-heading" style="text-align: center;">
                <h2>Occupancy During Peak Hours</h2>
            </div>
            <canvas id="PeakTimingsChart"></canvas>
        </div>
    </div>

    <br>
    <br>


</main>

