@{
    ViewData["Title"] = "About Us";
}


<!-- #HOME SECTION -->
<main>
    <section class="home" id="home">
        <div class="home-left">
            <p class="home-subtext">Hello Bulls!</p>
            <h1 class="main-heading">Your Favourite, Now On Campus!</h1>
            <p class="home-text">
                Come Explore Your Taste Buds!
            </p>
        </div>
        <div class="home-right">
            <img src="~/images/food1.png" alt="food image" class="food-img food-1" width="200" loading="lazy">
            <img src="~/images/food2.png" alt="food image" class="food-img food-2" width="200" loading="lazy">
            <img src="~/images/food3.png" alt="food image" class="food-img food-3" width="200" loading="lazy">
        </div>
    </section>
</main>
